RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL="Orato <ardie@orato.info>"
RESEND_NOTIFICATION_EMAIL=ardie@orato.info
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
TURNSTILE_SECRET_KEY=your_turnstile_secret_key
